<?xml version="1.0"?>
<launch>

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />
  <arg name="use_gui" default="false" />

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find flat_bot_moveit)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <!-- =================== Start gazebo and add FlatBot robot ======================================== -->
  <include file="$(find flat_bot_moveit)/launch/empty_world.launch">
    <arg name="debug" value="false" />
    <arg name="gui" value="true" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include>

  <node name="urdf_spawner_robot" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model FlatBot_Different -param robot_description -x 0 -y 0 -z 0"/>

  <!-- ============= Load config and setup ros_control to drive the joints for moveit ================ -->
  
  <!--  param name="moveit_controller_manager" value="moveit_ros_control_interface::MoveItControllerManager" /-->
  <rosparam file="$(find flat_bot_moveit)/config/ros_control.yaml" command="load"/>
  
 <param name="/move_group/moveit_controller_manager" value="moveit_simple_controller_manager/MoveItSimpleControllerManager"/>
 <param name="/move_group/controller_manager_name" value="moveit_simple_controller_manager" />
 <param name="/move_group/use_controller_manager" value="true" />

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="move_group/controller_list joint_state_controller">
    <!--remap from="/execute_trajectory" to="/move_group/controller_list/follow_joint_trajectory" /-->
  </node>

  <!-- We do not have a robot connected, so publish fake joint states -->
  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
    <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
  </node-->

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find flat_bot_moveit)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find flat_bot_moveit)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

</launch>
